@model IEnumerable<AngularJsMvcGrid.Models.GenSuggestReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="" ng-controller="SuggestReportController">
<div class="col-xs-6 col-sm-8">
    <table class="sample table table-hover table-bordered table-condensed">
        <tr>
            <th width="5%" class="text-center">Sl No</th>
            <th width="10%" class="text-center">SectionGroup</th>
            <th width="10%" class="text-center">SectionName</th>
            <th width="30%" class="text-center">description</th>
            <th width="10%" class="text-center">Priority</th>
            <th width="10%" class="text-center">Status</th>
            <th width="10%" class="text-center">CreatedBy</th>
            <th width="10%" class="text-center">CreatedDate</th>
            <th width="5%" class="text-center">Action</th>
        </tr>
        <tbody ng-repeat="issue in listOfIssues">
            <tr ng-click="selectIssue(issue)" ng-class="{active: issue.ID == selectedIssueId}" style="cursor:pointer">
                <td class="text-right">{{issue.SlNo}}</td>
                <td>{{issue.SectionGroupName}}</td>
                <td>{{issue.SectionName}}</td>
                <td class="noWrap">{{issue.Description}}</td>
                <td class="text-center">{{issue.Priority | PriorityFilter}}</td>
                <td class="text-center">{{issue.RecordStatus | statusFilter}}</td>
                <td class="text-center">{{issue.CreatedByName}}</td>
                <td class="text-center">{{issue.Created | date:'medium'}}</td>
                <td class="text-center">
                    <!--<button type="button" class="btn btn-link btn-sm" ng-click="editIssue(issue)">Edit</button>-->
                    <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="issue">Edit</button>
                </td>
            </tr>
            <tr ng-show="issue.ID == selectedIssueId">
                <td colspan="9">
                    <textarea cols="80" rows="24" class="form-control" readonly="" name="description">{{issue.Description}}</textarea>
                </td>

            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6 col-sm-4">
    <table class="sample table table-hover table-bordered table-condensed">
        <tr>
            <th width="50%" class="text-center">Comments</th>
            <th width="25%" class="text-center">CreatedBy</th>
            <th width="25%" class="text-center">CreatedDate</th>
        </tr>
        <tbody ng-repeat="comment in listOfComments">
            <tr data-toggle="collapse" data-target="#{{comment.ID}}" class="accordion-toggle">
                <td>{{comment.Comments}}</td>
                <td>{{comment.CreatedBy}}</td>
                <td>{{comment.Created | date}}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="accordion-body collapse" id="{{comment.ID}}">
                        <textarea cols="80" rows="24" class="form-control" readonly="" name="description">{{comment.Comments}}</textarea>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit Issue</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="row">
                        <div class="form-group col-sm-12">
                            <label for="description" class="control-label">Description:</label>
                            <textarea class="form-control" name="description" id="description" ng-model="selectedIssue.Description">{{selectedIssue.Description}}</textarea>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="priority" class="control-label">Priority:</label>
                            <select class="form-control" id="priority" name="priority" ng-model="selectedIssue.Priority">
                                <option value="0">Critical</option>
                                <option value="1">High</option>
                                <option value="2">Medium</option>
                                <option value="3">Low</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="status" class="control-label">Status:</label>
                            <select class="form-control" id="status" name="status" ng-model="selectedIssue.RecordStatus">
                                <option value="0">Open</option>
                                <option value="1">Not an issue</option>
                                <option value="2">Wip</option>
                                <option value="3">Paused</option>
                                <option value="4">Closed</option>
                                <option value="5">Hidden</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="editIssue(selectedIssue)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">


    $(document).ready(function () {
        $(".sample").colResizable({ liveDrag: true });

    });

</script>
}